body {
  background-color: #0a0a0a;
  color: white;
}

.center-page {
  background-color: #191919;
  min-height: 690px;
  padding: 3px;
}

.color-nav-footer {
  background-color: rgba(66, 52, 77, 0.466);
}

.color {
  color: white;
}

/* Formulario: input y select */
.num-input {
  background-color: #111111e6;
  width: 100%;
  padding: 5px;
  border: 1px solid #b300b3;
  color: #ffffff;
  border-radius: 2px;
  height: 3rem;
}

.unit-select {
  background-color: #111111e6;
  border: 1px solid #b300b3;
  color: #ffffff;
  border-radius: 2px;
}

.custom-input {
  width: 100%; /* 100% del ancho del contenedor */
}
.col {
  margin: 0 auto; /* Posiciona el elemento en el centro */
}

.custom-align-right {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.custom-align-left {
  margin-right: auto !important;
  margin-left: 0 !important;
}
/* ////////////////////////// */

/* Tabla de resultados calculados */

tr {
  border-bottom: 1px solid #b300b3 !important;
}

.table-result {
  max-width: 550px;
  border: 2px solid #b300b3;
}

.unit-result {
  color: black;
  background-color: blanchedalmond;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 5px;
}

.result {
  color: black;
  background-color: blanchedalmond;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

.button-copy {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.icon-copy {
  color: #ff8aff;
}

/* ////////////////////////// */

/* Tabla de equivalencias o formulario */
.table-eq--position {
  margin: 15px 0px 30px 0px;
}

.table-eq {
  max-width: 550px;
  border: 2px solid #b300b3;
  background: #191919;
}

.letter {
  font-size: medium;
  color: white;
}

#show-slide {
  display: none;
}

@media (max-width: 600px) {
  .letter {
    text-align: left;
    font-size: small;
  }
  .section-head {
    border-bottom: none !important;
  }
  .table-eq--position {
    margin-bottom: 0;
  }
  #show-slide {
    display: initial;
  }
}

.show-slide__content {
  display: flex;
  justify-content: center;
  margin: 0;
}

.icon-hand {
  animation: backInRight;
  animation-duration: 5s;
}

/* ////////////////////////// */

/* Cartas de eleccion para las unidades de medidas */

.card-option {
  background-color: #0a0a0a;
  border: 1px solid #b300b3;
  border-radius: 2px;
}

.button-card {
  background-color: #0a0a0a !important;
  color: #b300b3;
}

.logo-card {
  font-size: 100px;
  color: rgb(255, 255, 255);
}

/* ////////////////////////// */

/* Accordion */

.accordion__button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(25, 25, 25);
  color: #ffffff;
  text-align: center;
  transition: backgorund 0.2s;
  border: #141414 solid 1px;
}

.accordion__button:focus {
  background: #555555 !important;
}

.accordion__button::after {
  content: "\25be";
  float: right;
  transform: scale(1.5);
}

.accordion__button--active {
  background: #555555;
}

.accordion__button--active::after {
  content: "\25b4";
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 0 15px;
  font-family: sans-serif;
  font-size: large;
  background: #0a0a0a;
  color: #d6d6d6 !important;
}

/* ////////////////////////// */

/* Carousel */

.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #ffffff;
  opacity: 20%;
}

.carousel__anterior {
  left: -1px;
}

.carousel__siguiente {
  right: -1px;
}

/* ////////////////////////// */

/* Imagenes de definiciones por cada unidad */
.thumbnail {
  float: right;
  margin-left: 15px;
  margin-bottom: 30px;
}

.thumbnail__frame {
  padding: 10px;
  background: #555555;
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 3px;
  max-width: 320px;
}

.thumbnail__img {
  max-width: 240px;
  margin: auto;
  border-radius: 3px;
}

.thumbnail__caption {
  text-align: left;
  color: #ffffff;
  font-size: medium;
  padding-top: 4px;
  padding-bottom: -3px;
  text-align: center;
}

@media (max-width: 600px) {
  .thumbnail {
    float: left;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .thumbnail__img {
    max-width: 250px;
  }
}

/* ////////////////////////// */

/* Boton menu*/
.button-menu {
  background: none;
  border: none;
  color: #e7e7e7;
}

.button-menu:focus {
  background: none;
}
/* Menu lateral*/
.lateral-menu {
  background: #0a0a0a;
}

.letter-menu {
  color: white;
}

/* ////////////////////////// */

/* Boton recargar*/
.reload {
  font-size: large;
  color: #d6d6d6;
}
.reload:hover {
  background: #000000;
}

/* ////////////////////////// */

/* Parrafo de cada unidad */
.section-warn {
  padding-top: 0px;
}

.paragraph-u {
  text-align: center;
}

.paragraph-u__back {
  background: #272727;
  padding: 10px;
  border-radius: 5px;
}

.paragraph-u__back-warn {
  background: #330f0f;
  font-size: medium;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .paragraph-u__back {
    background: #191919;
    padding: 0px;
  }
  .paragraph-u__back-warn {
    background: #191919;
    color: #db3333;
    padding: 0px;
    border-radius: 0px;
  }
}

