body {
  background-color: #0a0a0a;
  color: white;
}

.center-page {
  background-color: rgb(25, 25, 25);
  min-height: 690px;
  padding: 3px;
}

.color-nav-footer {
  background-color: rgba(66, 52, 77, 0.466);
}

.color {
  color: white;
}

/* Formulario: input y select */
.num-input {
  background-color: #111111e6;
  width: 100%;
  padding: 5px;
  border: 1px solid #b300b3;
  color: #ffffff;
  border-radius: 2px;
  height: 3rem;
}

.unit-select {
  background-color: #111111e6;
  border: 1px solid #b300b3;
  color: #ffffff;
  border-radius: 2px;
}

.custom-input {
  width: 100%; /* 100% del ancho del contenedor */
}
.col {
  margin: 0 auto; /* Posiciona el elemento en el centro */
}

.custom-align-right {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.custom-align-left {
  margin-right: auto !important;
  margin-left: 0 !important;
}
/* ////////////////////////// */

/* Estilos tabla de resultados */
tr {
  border-bottom: 1px solid #b300b3 !important;
}

.table-result {
  max-width: 500px;
  border: 2px solid #b300b3;
}

.unit-result {
  color: black;
  background-color: blanchedalmond;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 5px;
}

.result {
  color: black;
  background-color: blanchedalmond;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

/* ////////////////////////// */

/* Estilos tabla de resultados */

.card-option {
  background-color: #0a0a0a;
  border: 1px solid #b300b3;
  border-radius: 2px;
}

.button-card {
  background-color: #0a0a0a !important;
  color: #b300b3;
}

.logo-card {
  font-size: 100px;
  color: rgb(255, 255, 255);
}

/* ////////////////////////// */

/* Accordion */

.accordion__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(25, 25, 25);
  color: #ffffff;
  text-align: left;
  transition: backgorund 0.2s;
}

.accordion__button::after {
  content: "\25be";
  float: right;
  transform: scale(1.5);
}

.accordion__button--active {
  background: #555555;
}

.accordion__button--active::after {
  content: "\25b4";
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 0 15px;
  font-family: sans-serif;
  font-size: large;
  background: #000000;
  color: #d6d6d6 !important;
}

/* ////////////////////////// */

/* Carousel */

.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #ffffff;
  opacity: 20%;
}

.carousel__anterior {
  left: -1px;
}

.carousel__siguiente {
  right: -1px;
}

/* ////////////////////////// */

/* Boton de copiar resultado calculado */
.button-copy {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.icon-copy {
  color: #ff8aff;
}
